@import url('https://cdn.rawgit.com/singihae/Webfonts/master/style.css');
.jua {font-family:'BM JUA','배달의민족 주아',sans-serif;}
.hana{font-family:'BM HANNA','배달의민족 한나', sans-serif; }

body {
  margin:0;
}

.camview {
  width: 100%;
  /*height: 100vh;*/
}

.videowrap {
  position: relative;
}

.ballon {
  width: 200px;
  border: 1px solid black;
  background-color: white;
  height: 100px;
  position: absolute;
  border-radius: 50px;
}

.statewrap{
  position: absolute;
  width:1600px;
  bottom:0;
}

.state{
  text-align: center;
  background-color: white;
  font-size: 5em;
  color: #ea4468;
}

#video {
}

#canvas {
}
