<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel=stylesheet type=text/css href="../static/style.css">
</head>
<body>
<div class="camview">
  <div class="ballon">
  </div>
  <video id="video" width="400" height="300" autoplay></video>
  <canvas id="canvas" width="400" height="300"></canvas>
</div>

<button id="snap">Snap Photo</button>
<script>
(function(){
    var canvas = document.getElementById('canvas'),
        context = canvas.getContext('2d'),
        video = document.getElementById('video'),
        vendorUrl = window.URL || window.webkitURL;

    navigator.getMedia = navigator.getUserMedia ||
                         navigator.webkitGetUserMedia ||
                         navigator.mozGetUserMedia ||
                         navigator.msGetUserMedia;

    navigator.getMedia({
      video: true,
      audio: false
    }, function(stream){
      video.src = vendorUrl.createObjectURL(stream);
      video.play();
    }, function(error) {
      // An error occured
    });

    // video.addEventListener('play',function(){
    //
    // });

    // Trigger photo take
    document.getElementById("snap").addEventListener("click", function() {
    	context.drawImage(video, 0, 0, 400, 300);
    });

    function checkImg() {
    	context.drawImage(video, 0, 0, 400, 300);
      var canvas = document.getElementById("canvas");
      var img    = canvas.toDataURL("image/png");
      console.log(img);
    };

    setTimeout(checkImg, 5000);
    // setInterval(checkImg, 5000);


})();
</script>

</body>
</html>
