<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel=stylesheet type=text/css href="../static/style.css">
  <link href="https://cdn.rawgit.com/singihae/Webfonts/master/style.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div class="camview">
  <!-- Displays Current Camera -->
  <div class="videowrap">
    <div class="statewrap">
      <h3 class="state jua">
        Current State: <span id="statewords">NORMAL</span>
      </h3>
    </div>
    <video id="video" width="1600" height="1200" autoplay></video>
  </div>
  <!-- Displays Captured image -->
  <div class="canvaswrap">
    <canvas id="canvas" width="1600" height="1200"></canvas>
  </div>
</div>

<button id="snap">Snap Photo</button>


<script>
(function(){
    var canvas = document.getElementById('canvas'),
        context = canvas.getContext('2d'),
        video = document.getElementById('video'),
        vendorUrl = window.URL || window.webkitURL;
  
    var img64;

    navigator.getMedia = navigator.getUserMedia ||
                         navigator.webkitGetUserMedia ||
                         navigator.mozGetUserMedia ||
                         navigator.msGetUserMedia;

    navigator.getMedia({
      video: true,
      audio: false
    }, function(stream){
      video.src = vendorUrl.createObjectURL(stream);
      video.play();
    }, function(error) {
      // An error occured
    });

    // video.addEventListener('play',function(){
    //
    // });

    // Trigger photo take
    document.getElementById("snap").addEventListener("click", function() {
    	context.drawImage(video, 0, 0, 1600, 1200);
    });

    // Take a snapshot of camera and Encode img to Base64
    function checkImg() {
    	context.drawImage(video, 0, 0, 1600, 1200);
      var canvas = document.getElementById("canvas");
      img64 = canvas.toDataURL("image/png");

      // only returns endoded code
      console.log(img64.split(",")[1]);
    };

    // Send img64 to TrueFace API by Ajax Call
    function getStatus() {
      var imgData = {
         "img": img64.split(",")[1],
        "collection_id": "ahBzfmNodWlzcGRldGVjdG9ychcLEgpDb2xsZWN0aW9uGICAgMCB7Z8JDA"
      };

      $.ajax({
        url: "https://api.chui.ai/v1/identify",
        method: "POST",
        headers: {
          "x-api-key": "Fhpm5sx61t7IsUFt3bYRH9cefkPYDAxG5U8UZfJJ",
          "Content-Type": "application/json"
        },
        data: imgData
      }).done(function(data) {
        console.log(data);
        // return data;
      });
    }

    // Change Babay's status
    function changeStatus() {
      var myArray = ["HUNGRY", "PAIN", "TIRED", "BATHROOM", "HAPPY", "NORMAL"]
      
      // Add random for placeholder
      var statusText = myArray[Math.floor(Math.random() * myArray.length)];
      $("#statewords").text(statusText);
    }

    // Wrapping all the functions
    function allFunction() {
      checkImg();
      changeStatus();
    }

    // Doing all the functions every two seconds
    setInterval(allFunction, 2000);


})();
</script>

</body>
</html>
