<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="camview">
    <div class="ballon">
    </div>
    <video id="video" width="300" height="400" autoplay></video>
    <canvas id="canvas" width="300" height="400"></canvas>
  </div>

  <button id="snap">Snap Photo</button>
<script>
(function(){
    var canvas = document.getElementById('canvas'),
        context = canvas.getContext('2d'),
        video = document.getElementById('video'),
        vendorUrl = window.URL || window.webkitURL;

    navigator.getMedia = navigator.getUserMedia ||
                         navigator.webkitGetUserMedia ||
                         navigator.mozGetUserMedia ||
                         navigator.msGetUserMedia;

    navigator.getMedia({
      video: true,
      audio: false
    }, function(stream){
      video.src = vendorUrl.createObjectURL(stream);
      video.play();
    }, function(error) {
      // An error occured
    });

    // video.addEventListener('play',function(){
    //
    // });

    // Trigger photo take
    document.getElementById("snap").addEventListener("click", function() {
    	context.drawImage(video, 0, 0, 400, 300);
    });

})();
</script>

</body>
</html>
